In [1]:
#importing required libraries
from bs4 import BeautifulSoup as bs
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#writing a function to get all the pages
page=1
while page!=6:
    url=f"https://www.jumia.co.ke/smartphones/?shipped_from=country_local&page={page}"
    print(url)
    page=page+1

https://www.jumia.co.ke/smartphones/?shipped_from=country_local&page=1
https://www.jumia.co.ke/smartphones/?shipped_from=country_local&page=2
https://www.jumia.co.ke/smartphones/?shipped_from=country_local&page=3
https://www.jumia.co.ke/smartphones/?shipped_from=country_local&page=4
https://www.jumia.co.ke/smartphones/?shipped_from=country_local&page=5

In [6]:
#since we are using beautiful soup, we will request the
#soup file with html content
#the jumia phones catalogue has 50 pages
page=1
#creating an empty list to contain the webscrapped data afterwards
names=[]
while page !=51:
    url=f"https://www.jumia.co.ke/smartphones/?shipped_from=country_local&page={page}"
    response=requests.get(url)
    html=response.content
    soup=bs(html,"lxml")
    for h3 in soup.find_all("h3",class_="name"):
        names.append(h3.get_text(strip=True))
    page=page + 1

In [7]:
#let us get the length of names
len(names)

2000

In [8]:
names[:10]

['XIAOMI Redmi A1+, 6.52", 2GB+32GB, 8.0MP, 5000mAh, 4G , Dual SIM - Light Blue',
 'XIAOMI Redmi 10A, 6.53", 3GB+64GB, 13.0MP, 5000mAh, 4G LTE, Dual SIM - Graphite Grey',
 'Infinix Smart 6, 6.6", 2GB RAM, 32GB, 5000mAh,Polar Black',
 'Oppo A16k, 6.52", 32GB + 3GB RAM (Dual SIM), 4230mAh - Blue',
 'XIAOMI Redmi 9A, 6.53", 2GB+32GB, 13.0MP, 5000mAh, 4G LTE, Dual SIM - Grey',
 'Samsung Galaxy A13, 6.6", 128GB + 4GB RAM (Dual SIM), 5000mAh, Blue',
 'XIAOMI Redmi 9A 6.53", 2GB RAM+32GB, 5000mAh, Dual SIM, 4G LTE - Glacial Blue',
 'Samsung Galaxy A13, 6.6", 64GB + 4GB RAM (Dual SIM), 5000mAh, Black',
 "XIAOMI Redmi 10C 6.71'', 4GB+128GB, 50MP+2MP Camera, 4G, Dual SIM - Mint Green",
 "XIAOMI Redmi 10C 6.71'', 4GB+64GB, 50MP+2MP Camera, 4G, 5000MAH Battery Dual SIM- Blue"]

In [10]:
#let us make a data frame 
df=pd.DataFrame(names,columns=['Name'],dtype=object)

In [11]:
df.head()

                                                Name
0  XIAOMI Redmi A1+, 6.52", 2GB+32GB, 8.0MP, 5000...
1  XIAOMI Redmi 10A, 6.53", 3GB+64GB, 13.0MP, 500...
2  Infinix Smart 6, 6.6", 2GB RAM, 32GB, 5000mAh,...
3  Oppo A16k, 6.52", 32GB + 3GB RAM (Dual SIM), 4...
4  XIAOMI Redmi 9A, 6.53", 2GB+32GB, 13.0MP, 5000...

In [12]:
#using the same code above to obtain phone price
page=1
#creating an empty list to contain the webscrapped data afterwards
price=[]
while page !=51:
    url=f"https://www.jumia.co.ke/smartphones/?shipped_from=country_local&page={page}"
    response=requests.get(url)
    html=response.content
    soup=bs(html,"lxml")
    for h3 in soup.find_all("div",class_="prc"):
        price.append(h3.get_text(strip=True))
    page=page + 1

In [13]:
len(price)

2000

In [14]:
price[:10]

['KSh 10,200',
 'KSh 13,499',
 'KSh 9,999',
 'KSh 12,699',
 'KSh 9,999',
 'KSh 22,499',
 'KSh 9,999',
 'KSh 19,399',
 'KSh 18,499',
 'KSh 16,299']

In [15]:
#what we realized from last time is that name and price have
#empty strings, the solution is to get them at once
#we will repeat the same function but get price and phone name together
#using the same code above to obtain phone price
page=1
#creating an empty list to contain the webscrapped data afterwards
phones=[]
while page !=51:
    url=f"https://www.jumia.co.ke/smartphones/?shipped_from=country_local&page={page}"
    response=requests.get(url)
    html=response.content
    soup=bs(html,"lxml")
    name=soup.find_all("h3",class_="name")
    price=soup.find_all("div",class_="prc")
    for i in range(len(name)):
        phones.append([name[i].text,price[i].text])
    page=page + 1

In [16]:
len(phones)

2000

In [18]:
phones[:10]

[['XIAOMI Redmi A1+, 6.52", 2GB+32GB, 8.0MP, 5000mAh, 4G , Dual SIM - Light Blue',
  'KSh 10,200'],
 ['XIAOMI Redmi 10A, 6.53", 3GB+64GB, 13.0MP, 5000mAh, 4G LTE, Dual SIM - Graphite Grey',
  'KSh 13,499'],
 ['Infinix Smart 6, 6.6", 2GB RAM, 32GB, 5000mAh,Polar Black', 'KSh 9,999'],
 ['Oppo A16k, 6.52", 32GB + 3GB RAM (Dual SIM), 4230mAh - Blue', 'KSh 12,699'],
 ['XIAOMI Redmi 9A, 6.53", 2GB+32GB, 13.0MP, 5000mAh, 4G LTE, Dual SIM - Grey',
  'KSh 9,999'],
 ['Samsung Galaxy A13, 6.6", 128GB + 4GB RAM (Dual SIM), 5000mAh, Blue',
  'KSh 22,499'],
 ['XIAOMI Redmi 9A 6.53", 2GB RAM+32GB, 5000mAh, Dual SIM, 4G LTE - Glacial Blue',
  'KSh 9,999'],
 ['Samsung Galaxy A13, 6.6", 64GB + 4GB RAM (Dual SIM), 5000mAh, Black',
  'KSh 19,399'],
 ["XIAOMI Redmi 10C 6.71'', 4GB+128GB, 50MP+2MP Camera, 4G, Dual SIM - Mint Green",
  'KSh 18,499'],
 ["XIAOMI Redmi 10C 6.71'', 4GB+64GB, 50MP+2MP Camera, 4G, 5000MAH Battery Dual SIM- Blue",
  'KSh 16,299']]

In [ ]:
#converting the phones list to a data frame
df=pd.DataFrame(phones,columns=['Name','Price'],
               dtype=float)

In [19]:
df.head()

                                                Name
0  XIAOMI Redmi A1+, 6.52", 2GB+32GB, 8.0MP, 5000...
1  XIAOMI Redmi 10A, 6.53", 3GB+64GB, 13.0MP, 500...
2  Infinix Smart 6, 6.6", 2GB RAM, 32GB, 5000mAh,...
3  Oppo A16k, 6.52", 32GB + 3GB RAM (Dual SIM), 4...
4  XIAOMI Redmi 9A, 6.53", 2GB+32GB, 13.0MP, 5000...

In [20]:
#making a csv file to be cleaned
df.to_csv("Jumia Phones Data v5.csv",index=False)